<header id="main-navbar" class="navbar-header">
	<div class="navbar-container">
		<a href="/index.html" class="navbar-logo" aria-label="LingoLand Home">
			<img src="/assets/img/logo.png" alt="LingoLand Logo" class="navbar-logo-img">
		</a>
		
		<button class="navbar-toggle" id="navbarToggle" aria-label="Toggle navigation" aria-expanded="false">
			<span class="navbar-toggle-bar"></span>
			<span class="navbar-toggle-bar"></span>
			<span class="navbar-toggle-bar"></span>
		</button>

		<nav class="navbar-nav" id="navbarNav">
			<ul class="navbar-menu">
				<li class="navbar-item"><a href="/index.html" class="navbar-link">Home</a></li>
				<li class="navbar-item"><a href="/Store/" class="navbar-link">Store</a></li>
				<li class="navbar-item"><a href="/About/" class="navbar-link">About Us</a></li>
				<li class="navbar-item"><a href="/Resources/" class="navbar-link">Resources</a></li>
				<li class="navbar-item"><a href="/Contact/" class="navbar-link">Contact</a></li>
			</ul>
		</nav>
	</div>
</header>
